# vscode
build/*
devel/*
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
src/test_controller/imgs/license_imgs/*
src/test_controller/imgs/id_imgs/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

